---
import BaseWebsiteLayout from "../layouts/BaseWebsiteLayout.astro";
---

<BaseWebsiteLayout title={"About"}>
  <a href="/">Home</a>
  <a href="/blog">Blog</a>

  <h1 class="text-lg text-blue-800 font-bold">About Me</h1>
  <h2>... and my new Astro site!</h2>
</BaseWebsiteLayout>
