---
import { getCollection } from "astro:content";
import BaseWebsiteLayout from "../layouts/BaseWebsiteLayout.astro";

const posts = (
  await getCollection("blog", ({ data }) => {
    return data.isDraft !== true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseWebsiteLayout title="Blog">
  <div class="w-full grid grid-cols-2 gap-3">
    {
      posts.map((post) => (
        <div class="col-span-1 ">
          <a
            href={`/blog/${post.slug}/`}
            class="block border border-white text-white w-full"
          >
            <div class="border-b border-white bg-black bg-opacity-40 pl-2 w-full">
              <p class="text-xl w-full">{post.data.title}</p>
              <p class="text-xs">
                {post.data.pubDate.toDateString()}
                tags:
                <strong>{post.data.tags.join(", ")}</strong>
              </p>
            </div>

            <p>{post.data.description}</p>
          </a>
        </div>
      ))
    }
  </div>
</BaseWebsiteLayout>
