---
import * as Home from "../components/home";
import BaseWebsiteLayout from "../layouts/BaseWebsiteLayout.astro";
---

<BaseWebsiteLayout title="Home">
  <div class="w-1/4 space-y-4">
    <Home.Spotify />
    <!-- <Home.Visitors /> -->
  </div>
  <div class="w-3/4 space-y-3">
    <Home.Welcome />
    <Home.LatestPost />
    <!-- <div class="flex space-x-2">
      <div class="w-2/4">
        <Home.GithubProjects />
      </div>
      <div class="w-2/4">
        <Home.Portfolio />
      </div>
    </div> -->
  </div>
</BaseWebsiteLayout>

<style>
  .blog-title {
    font-size: 7.9px;
    padding-top: 22px;
    text-align: center;
    filter: drop-shadow(0 1px 10px);
    animation-duration: 1s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes textflicker {
    from {
      text-shadow:
        1px 0 0 #ea36af,
        -1px 0 0 #75fa69;
    }
    to {
      text-shadow:
        1px 0.5px 2px #ea36af,
        -1px -0.5px 2px #75fa69;
    }
  }
</style>
