---
import BaseWebsiteLayout from "../layouts/BaseWebsiteLayout.astro";
---

<BaseWebsiteLayout title={"About"}>
    <div class="w-full text-lime-500">
        <h1 class="font-bold text-3xl">Side Projects</h1>
        <h2>
            I have many side projects, most of them are not finished.
            The intent of this page is to centralize every goal/project I have and
            <br>
            create some accountability to finish them. 
        </h2>
        <div class="w-full mt-10">
            <div class="flex flex-row space-x-4">
                <span class="text-lg underline">SWEMarket</span>
                <a href="https://swe-market.com/"><span>Website &#8599;</span></a>
                <!-- <a><span>github &#8599;</span></a> -->
            </div>
            <div class="mb-2">
                <details class="cursor-pointer">
                    <summary>Idea</summary>
                    <p class="pl-4">A website where users can login with their Linkedin and leave a score about ther feelings on the software engineer(swe) market.</p>
                    <p class="pl-4">The goal is beyond having an overall sentiment, also get data on location/area people work and how they feel.</p>
                </details>
            </div>
            
            <div>
                <div class="flex flex-row space-x-2">
                    <span>Project Started</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true" checked>
                </div>
                <div class="flex flex-row space-x-2">
                    <span>Project Finished/Shipped</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
                </div>
                <div>
                    estimated work done: 70%
                </div>
            </div>

        </div>

        <div class="w-full mt-10">
            <div class="flex flex-row space-x-4">
                <span class="text-lg underline">ae.stheti.cc</span>
                <a href="http://ae.stheti.cc/"><span>Website &#8599;</span></a>
                <!-- <a><span>github &#8599;</span></a> -->
            </div>
                
            <div class="mb-2">
                <details class="cursor-pointer">
                    <summary>Idea</summary>
                    <p class="pl-4">I'm a very nostalgic person, so I'm always looking into aesthetics or "cores" that people share around pinterest and such.</p>
                    <p class="pl-4">I would like to serve a little search engine where people can find specific aesthetics by describing them.</p>
                </details>
            </div>
            <div>
                <div class="flex flex-row space-x-2">
                    <span>Project Started</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
                </div>
                <div class="flex flex-row space-x-2">
                    <span>Project Finished/Shipped</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
                </div>
                <div>
                    estimated work done: 0%
                </div>
            </div>
        </div>

        <div class="w-full mt-10">
            <div class="flex flex-row space-x-4">
                <span class="text-lg underline">playatlaunch.com</span>
                <a href="http://playatlaunch.com/"><span>Website &#8599;</span></a>
                <!-- <a><span>github &#8599;</span></a> -->
            </div>
                
            <div class="mb-2">
                <details class="cursor-pointer">
                    <summary>Idea</summary>
                    <p class="pl-4">A website where you can check what games lauched that giving day, read about them and play them (linking to where to find) "like they where being launched today".</p>
                </details>
            </div>
            <div>
                <div class="flex flex-row space-x-2">
                    <span>Project Started</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true" checked>
                </div>
                <div class="flex flex-row space-x-2">
                    <span>Solved the DB of games and its launch date needed?</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
                </div>
                <div class="flex flex-row space-x-2">
                    <span>Project Finished/Shipped</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
                </div>
                <div>
                    estimated work done: 40%
                </div>
            </div>
        </div>

        <div class="w-full mt-10">
            <div class="flex flex-col mb-3">
                <span class="text-2xl">Books</span>
                <span>I have a list of books I want to read. Not all of them techinical.</span>
            </div>
            <div class="flex flex-row space-x-2">
                <span class="underline">Understanding Software Dynamics, Richard Sites</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>
            <div class="flex flex-row space-x-2">
                <span class="underline">Crafting Interpreters, Roberd Nystrom</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>
            <div class="flex flex-row space-x-2">
                <span class="underline">A Programmer's Introduction to Mathematics, Jeremy Kun</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>
            <div class="flex flex-row space-x-2">
                <span class="underline">100 Go Mistakes and How to Avoid Them, Teiva Harsanyi</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>

            <div class="my-3">
                <span>non-techinical</span>
            </div>

            <div class="flex flex-row space-x-2">
                <span class="underline">Meditations, Marcus Aurelius</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true" checked>
            </div>
            <div class="flex flex-row space-x-2">
                <span class="underline">The Enchiridion, Epictetus</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>
            <div class="flex flex-row space-x-2">
                <span class="underline">The Creative Act, Rick Rubin</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>
            <div class="flex flex-row space-x-2">
                <span class="underline">Shop Class as Soulcraft, Matthew Crawford</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>
            <div class="flex flex-row space-x-2">
                <span class="underline">Golden Son, Pierce Brown</span><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>
        </div>

        <div class="w-full mt-10">
            <div class="flex flex-col mb-3">
                <span class="text-2xl">Articles/Tutorials</span>
                <span>Here are some materials that I've hoarded with the intent of looking at it later. It can be articles or tutorials.</span>
            </div>

            <div class="flex flex-row space-x-2">
                <a href="https://people.freebsd.org/~lstewart/articles/cpumemory.pdf"><span class="underline">What Every Programmer Should Know About Memory</span></a><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>
            
            <div class="flex flex-row space-x-2">
                <a href="https://www.youtube.com/playlist?list=PLnAxReCloSeTJc8ZGogzjtCtXl_eE6yzA"><span class="underline">How computers work - Building Scott's CPU</span></a><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>
                     
            <div class="flex flex-row space-x-2">
                <a href="https://raytracing.github.io/"><span class="underline">Ray Tracing in One Weekend</span></a><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>
                                    
            <div class="flex flex-row space-x-2">
                <a href="https://www.mimuw.edu.pl/~bojan/20142015-2/alg/1-introduction-to-monoids"><span class="underline">Introduction to Monoids</span></a><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>

            <div class="flex flex-row space-x-2">
                <a href="https://www.youtube.com/playlist?list=PLWkTsO24LpD8ufLfZz2t3e4LSI05ueIOq"><span class="underline">NPTEL Operating Systems</span></a><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>

            <div class="flex flex-row space-x-2">
                <a href="https://www.cs.uoregon.edu/research/summerschool/archives.html"><span class="underline">Oregon Programming Laguages Summer School</span></a><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>

            <div class="flex flex-row space-x-2">
                <a href="https://www.youtube.com/playlist?list=PLWkTsO24LpD-k7AgYKEpb2M2SZn-NlKTo"><span class="underline">CPython internals: A ten-hour codewalk through the Python interpreter source code</span></a><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>

            <div class="flex flex-row space-x-2">
                <a href="http://www.emulator101.com/"><span class="underline">Emulator 101</span></a><input class="checked:accent-lime-500 pointer-events-none" type="checkbox" aria-disabled="true">
            </div>
        </div>



    </div>
</BaseWebsiteLayout>
