<div class="banner bg-white"></div>

<style>
  .banner {
    width: 100%; /* Full width */
    height: 250px; /* Fixed height of 250px */
    border: 1px solid;
    background-image: url("path-to-your-image.jpg"); /* Path to your background image */
    background-size: cover; /* Cover the entire width of the div */
    background-position: center; /* Center the background image */
  }
</style>
