<div class="banner"></div>

<style>
  .banner {
    width: 100%; /* Full width */
    height: 50px; /* Fixed height of 250px */
    border: 1px solid #84CC16;
    background: rgba(24, 24, 24, 0.7);
    background-size: cover; /* Cover the entire width of the div */
    background-position: center; /* Center the background image */
  }
</style>
