<div id="latest-post" class="border border-black bg-white">
  <div class="border-b border-black pl-2">LATEST POST</div>

  <div>TITLE TITLE TITLE</div>
  <div>sep. 20, 2023</div>
  <div class="p-2 m-2 border border-black">
    texto texto texto
    <br /><br /><br /><br /><br />
  </div>
</div>
