<div id="latest-post" class="border border-lime-500 text-lime-500">
  <div class="border-b border-lime-500 pl-2 bg-black bg-opacity-40">
    LATEST POST
  </div>

  <div>TITLE TITLE TITLE</div>
  <div>sep. 20, 2023</div>
  <div class="p-2 m-2 border border-lime-500">
    texto texto texto
    <br /><br /><br /><br /><br />
  </div>
</div>
