<div class="spotify border border-black bg-white">
  <div class="border-b border-black pl-2">
    <p>Songs</p>
  </div>
  <div class="flex space-x-3">
    <div>cover</div>
    <div>
      <div>title</div>
      <div>band</div>
    </div>
  </div>
</div>
