<div id="welcome" class="border border-lime-500 text-lime-500">
  <div class="border-b border-lime-500 bg-black bg-opacity-40 pl-2">
    Introduction
  </div>
  <div class="flex p-2 space-x-4">
    <div class="w-3/4 text-sm leading-4">
      Directly from Brazil, I present to you my website!<br /> This a little corner
      on the web where I can share<br /> some of my hobbies, thoughts and also serve
      as a showcase <br /> of my daytime job as a programmer.
    </div>
    <div class="w-1/4">PHOTO HERE</div>
  </div>
</div>
