<div class="bg-black bg-opacity-70 rounded border border-white">
    <pre
      class="blog-title text-lime-500 faulty-bulb">
      █████                                              ██            ██████████    ███            ███   █████              ████       █████████    █████     █████     ███          
      ░░███                                              ███           ░░███░░░░███  ░░░            ░░░   ░░███              ░░███      ███░░░░░███  ░░███     ░░███     ░░░           
       ░███        █████ ████  ██████   ██████    █████ ░░░   █████     ░███   ░░███ ████   ███████ ████  ███████    ██████   ░███     ░███    ░███  ███████   ███████   ████   ██████ 
       ░███       ░░███ ░███  ███░░███ ░░░░░███  ███░░       ███░░      ░███    ░███░░███  ███░░███░░███ ░░░███░    ░░░░░███  ░███     ░███████████ ░░░███░   ░░░███░   ░░███  ███░░███
       ░███        ░███ ░███ ░███ ░░░   ███████ ░░█████     ░░█████     ░███    ░███ ░███ ░███ ░███ ░███   ░███      ███████  ░███     ░███░░░░░███   ░███      ░███     ░███ ░███ ░░░ 
       ░███      █ ░███ ░███ ░███  ███ ███░░███  ░░░░███     ░░░░███    ░███    ███  ░███ ░███ ░███ ░███   ░███ ███ ███░░███  ░███     ░███    ░███   ░███ ███  ░███ ███ ░███ ░███  ███
       ███████████ ░░████████░░██████ ░░████████ ██████      ██████     ██████████   █████░░███████ █████  ░░█████ ░░████████ █████    █████   █████  ░░█████   ░░█████  █████░░██████ 
      ░░░░░░░░░░░   ░░░░░░░░  ░░░░░░   ░░░░░░░░ ░░░░░░      ░░░░░░     ░░░░░░░░░░   ░░░░░  ░░░░░███░░░░░    ░░░░░   ░░░░░░░░ ░░░░░    ░░░░░   ░░░░░    ░░░░░     ░░░░░  ░░░░░  ░░░░░░  
                                                                                           ███ ░███                                                                                    
                                                                                          ░░██████                                                                                     
                                                                                           ░░░░░░                                                                                                                                                                                                                               
  </pre>
</div>


<style>
    .blog-title {
      font-size: 7.9px;
      padding-top: 22px;
      text-align: center;
      filter: drop-shadow(0 1px 10px);
      animation-duration: 1s;
      animation-name: textflicker;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  
    @keyframes textflicker {
      from {
        text-shadow:
          1px 0 0 #ea36af,
          -1px 0 0 #75fa69;
      }
      to {
        text-shadow:
          1px 0.5px 2px #ea36af,
          -1px -0.5px 2px #75fa69;
      }
    }
  </style>