---
const { title } = Astro.props;
import BlogBanner from "../components/BlogBanner.astro";
import Navbar from "../components/Navbar.astro";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>

  <div class="flex justify-center h-screen shadow-lg whitespace-nowrap">
    <div class="w-[932px] mt-10">
      <BlogBanner />
      <Navbar />
      <div class="flex p-5 space-x-5 border border-t-0 mb-5 border-white content">
        <slot />
      </div>
    </div>
  </div>

  <style>
    @font-face {
      font-family: "BlockKie";
      src: url("/fonts/BlockKie.ttf");
    }

    .content {
      background: rgba(24, 24, 24, 0.87);
    }
    body {
      font-family: "BlockKie";
      /* background-color: rgb(253, 185, 59); */
      background:
        linear-gradient(to right, black, black 10%, rgba(0, 0, 0, 0) 13%),
        linear-gradient(to left, black, black 10%, rgba(0, 0, 0, 0) 13%),
        url(https://i.pinimg.com/564x/03/b6/58/03b6587dd1dcecd0a20fecbc0947d633.jpg)
          no-repeat center/80%;
      background-color: black;
      background-blend-mode: normal;
    }
  </style>


</html>
